<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Triangle</title>
    <%=stylesheet_link_tag "triangle/bootstrap.min.css"%>
    <%=stylesheet_link_tag "triangle/font-awesome.min.css"%>
    <%=stylesheet_link_tag "triangle/animate.min.css"%>
    <%=stylesheet_link_tag "triangle/lightbox.css"%>
	  <%=stylesheet_link_tag "triangle/main.css"%>
	  <%=stylesheet_link_tag "triangle/responsive.css"%>

    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->
    <!-- <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png"> -->
</head><!--/head-->

<body>
	<header id="header">

    <div class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">
                  <h1><img src="images/logo.png" alt="logo"></h1>
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/index">Home</a></li>
                    <li class="dropdown"><a>Rules <i class="fa fa-angle-down"></i></a>
                        <ul role="menu" class="sub-menu">
                            <li><a>1.Write all answers in lowercase</a></li>
                            <li><a>2.Don't include space between two words</a></li>
                            <li><a>3.Try to link the question with the image</a></li>
                            <li><a>4.Save the letters you get for future</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a>Hints <i class="fa fa-angle-down"></i></a>
                        <ul role="menu" class="sub-menu">
                            <li><a><%=@question.hint%></a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a>Score : <%=session[:score]%><i class="fa fa-angle-down"></i></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    </header>
    <!--/#header-->

    <section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slide-text">

                          <div class="contact-form bottom">
                              <h2><%=@question.statement%></h2>
                               <%= form_tag(home_path, method: "get") do %>
                                  <div class="form-group">
                                      <!-- <input type="text" name="name" class="form-control" required="required" placeholder="Name"> -->
                                      <%= text_field_tag :answer, params[:answer], placeholder: "Your Answer", class: 'form-control' %>
                                  </div>

                                  <div class="form-group">
                                      <!-- <input type="submit" name="submit" class="btn btn-submit" value="Submit"> -->
                                      <%= submit_tag "Submit", class:'btn btn-submit' %>
                                  </div>
                              <%end%>
                          </div>
                    </div>


                    <img src="images/home/slider/hill.png" class="slider-hill" alt="slider image">
                    <img src="images/home/slider/house.png" class="slider-house" alt="slider image">
                    <img src="images/home/slider/sun.png" class="slider-sun" alt="slider image">
                    <img src="images/home/slider/birds1.png" class="slider-birds1" alt="slider image">
                    <img src="images/home/slider/birds2.png" class="slider-birds2" alt="slider image">
                </div>
            </div>
        </div>
        <!-- <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div> -->
    </section>
    <!--/#home-slider-->


    <%=javascript_include_tag "triangle/jquery.js"%>
    <%=javascript_include_tag "triangle/bootstrap.min.js"%>
    <%=javascript_include_tag "triangle/lightbox.min.js"%>
    <%=javascript_include_tag "triangle/wow.min.js"%>
    <%=javascript_include_tag "triangle/main.js"%>
</body>
</html>
