<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <%=stylesheet_link_tag "triangle/bootstrap.min.css"%>
    <%=stylesheet_link_tag "triangle/font-awesome.min.css"%>
    <%=stylesheet_link_tag "triangle/animate.min.css"%>
    <%=stylesheet_link_tag "triangle/lightbox.css"%>
	  <%=stylesheet_link_tag "triangle/main.css"%>
	  <%=stylesheet_link_tag "triangle/responsive.css"%>

    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->
    <!-- <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png"> -->
</head>

<body>
	<header id="header">

        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">

                    <a class="navbar-brand">
                    	<h1><img src="/images/lopa.png" alt="logo"></h1>
                    </a>

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><%=link_to "Home", index_path%></li>
                        <li class="dropdown"><a href="/home">Treasure Hunt <i class="fa fa-angle-down"></i></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!--/#header-->

    <section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slide-text">

                            <h1> Shilpa!!</h1>
                            <p>Well the day has finally come. Jiska aap ko itni besabri se intezaar tha. Many many happy returns of the day. I know you were getting pretty bored lately. Well no more! We decided to make your birthday a lot fun than it used to be.</p>

                    </div>

                    <img src="images/home/slider/hill.png" class="slider-hill" alt="slider image">
                    <img src="images/home/slider/house.png" class="slider-house" alt="slider image">
                    <img src="images/home/slider/sun.png" class="slider-sun" alt="slider image">
                    <img src="images/home/slider/birds1.png" class="slider-birds1" alt="slider image">
                    <img src="images/home/slider/birds2.png" class="slider-birds2" alt="slider image">
                </div>
            </div>
        </div>
    </section>
    <!--/#home-slider-->

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/images/Mickey_Mouse_normal.jpg" alt="">
                        </div>
                        <h2>About</h2>
                        <p>Born on 5 March in a small town in Barrackpore, this girl showed signs of creativity right from her childhood. Her parents named her <i>"Shilpa"</i> which means <i>"an ornament</i>"</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="/images/download.png" alt="">
                        </div>
                        <h2>Likes</h2>
                        <p>This girl loves to draw and paint. The limit of her imagination is infinite. "<i>Hum do cheezon ko lete h phir unko jod ke kuch naya hi bana dete h</i>"</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="images/download.jpg" alt="">
                        </div>
                        <h2>Dislikes</h2>
                        <p>"<i> Hum ek baar kisi se gussa ho jate h toh uska shakal bhi nahi dekhte. Ek baar bachpan mein papa humko daante they, toh hum 4 ghanta sofa mein hi baithe rhe"</i></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="features">
        <div class="container">
            <div class="row">
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="images/f240b1ce-ab45-45c8-81ce-608f09d286e5.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Loves Cartoon</h2>
                        <P>Well I don't get your sheer obsession with mickey and minnie mouse. But I totally adore the way your eyes shine when you hear their names. Maybe it was one of the reasons I added a cartoonish look to this page. Because we know how much you love them. Added a mickey and minnie mouse image to make you smile.</p>
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Absolutely hates studying</h2>
                        <P>"Yaar yeh exams kyun aa jate h, humko nahi pasand exam. Baki logon ki tarah humse ratta nahi maara jata." That is totally not a problem. You were made for something else. Something bigger</P>
                    </div>
                    <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="images/doraemon-movie-2007-snapshot20080214132810.jpg" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="images/images.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Things we Adore</h2>
                        <P>Sarfraz tumko pata h aaj kya hua. Hum chal ke ja rhe they humko laga ki mere piche koi bhaag rha h.</P>
                        <p>I absolutely love the way you talk. And when you shake your head when you are singing a song. And then all of a sudden you say "Sarfraz" and I get totally scared. Then you say "I love you". I love u too!!!!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!--/#features-->

    <section id="clients">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <p><img src="images/home/clients.png" class="img-responsive" alt=""></p>
                        <h1 class="title">Happy Birthday Again</h1>
                        <p>May this year bring you loads of happiness and success.<br> May you become stronger and cuter in the coming years. </p>
                    </div>
                    </div>
            </div>
        </div>
     </section>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <img src="images/home/under.png" class="img-responsive inline" alt="">
                </div>
                <h2>Birthday Wishes</h2>
                <div class="col-md-4 col-sm-6">

                    <div class="testimonial bottom">

                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="images/geeta2.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <blockquote>Shilpa Raj, the extra talented , extra sweet , extra gorgeous , extra funny n extra crazy n sassy Queen of many many hearts .</blockquote>
                                <h3><a href="#">- Geeta </a></h3>
                            </div>
                         </div>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="images/posh2.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <blockquote>I hope you have a blast on your birthday and I hope we get to execute our business plans with you after college😉 </blockquote>
                                <h3><a href="">- Poushali</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="testimonial bottom">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="images/abhi2.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <blockquote>Happy Birthday Shilpaaaaa!!! Best wishes for the future. And hann! Is baar bhi rex mein daaru piyenge.</blockquote>
                                <h3><a href="#">- Abhishek</a></h3>
                            </div>
                         </div>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="images/shash2.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <blockquote>Many happy returns of the day Bondi!! May you live long, stay sstrong and keep smiling :)</blockquote>
                                <h3><a href="">- Shashank</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="testimonial bottom">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="images/anjali2.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <blockquote>Ab aapke jaanamdin ke shubh awsaar se aapki nayi shuruat hogi.Aapko khub badhayi.Hum aasha karte h ki aapki shaadi mein hum zaroor aaye aur khub nritya kare ;)</blockquote>
                                <h3><a href="#">- Anjali</a></h3>
                            </div>
                         </div>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="images/shivam2.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <blockquote>Happy birthday Shilpa. I wish you all the happiness in the world.</blockquote>
                                <h3><a href="">- Shivam</a></h3>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-12">
                  <div class="col-md-6 col-md-offset-5">
                          <a href="/home" class="btn btn-common">Go to the treasure hunt</a>
                  </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->

    <%=javascript_include_tag "triangle/jquery.js"%>
    <%=javascript_include_tag "triangle/bootstrap.min.js"%>
    <%=javascript_include_tag "triangle/lightbox.min.js"%>
    <%=javascript_include_tag "triangle/wow.min.js"%>
    <%=javascript_include_tag "triangle/main.js"%>
</body>
</html>
